<!DOCTYPE html>
<!-- 
    Comentariu
--> 
<html>
    <head lang="ro">
    <%- include("../fragmente/head.ejs")%>    
       

<meta name="keywords" content="culturism, sala, proteine, shakere, vitamine, gainere, curele culturism, echipamente sportive">
<meta name="description" content="As-teroizi: Descoperă potențialul maxim al antrenamentului tău! Echipează-te cu cele mai avansate suplimente și accesorii pentru culturism.
Nu te mulțumi cu mai puțin! Alege As-teroizi și atinge nivelul următor al performanței tale.">
<title>As-teroizi</title>
    </head>

    <body>
       <%- include("../fragmente/header.ejs") %>
       
        <main>
          
            <%- include("../fragmente/themeSlider.ejs") %>
            
            <%- include("../fragmente/formular-login.ejs") 
                %>
            <br/>
            <video id="video-vtt" controls preload="auto" poster="./resurse/imagini/poster.png">
                <source src="./resurse/video/video.mp4" type="video/mp4">
                <source src="./resurse/video/video.ogv" type="video/ogv">
                <track default src="./resurse/video/subtritari/sub.vtt" kind="captions" srclang="ro" label="romana" />
                <track src="sub.vtt" kind="captions" srclang="en" label="english">
              </video>
              <hr>
              <div id="duotone"></div>
              <hr>
              <div id="test">
                <div id="text">Un text
                    <div id="text-reflectat">
                        Un text
                    </div>
                </div>
                
              </div>
              <hr>
            <div id = "grid-pagina">
                
                <!--
                <section>
                    <h2>Valoare data in urma unei comenzi mai mari de 100 de lei:</h2>
                    <math xmlns="http://www.w3.org/1998/Math/MathML">
                        <mrow>
                        <mo>(</mo>
                        <mfrac>
                            <mn>20</mn>
                            <mn>100</mn>
                        </mfrac>
                        <mo>*</mo>
                        <mi>suma</mi>
                        <mo>)</mo>
                        <mo>-</mo>
                        <mi>transport</mi>
                        </mrow>
                    </math>
                </section>
                -->
                <section id="welcome">
                    <h2>Bine ați venit pe As-teroizi!</h2>
                    <p class="intro-oferte">
                        Destinația ta online pentru <b>suplimente</b> și <b>echipamente de culturism</b>! Suntem încântați să vă primim în comunitatea noastră dedicată pasionaților de fitness și culturism.
                       
                        La As-teroizi, ne dedicăm să îți oferim cele mai bune produse pentru a-ți atinge obiectivele de fitness. Indiferent dacă ești un începător entuziast sau un atlet experimentat, avem tot ceea ce îți trebuie pentru a-ți optimiza antrenamentele și pentru a-ți maximiza rezultatele.   
                    </p>

                    <div id = "iframe">
                        <iframe name="ifr-video"  width="560" height="315" src="https://www.youtube.com/embed/FJRMldSmy-M?si=1MM5C2SSfAj2Va4A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <div class="taburi-iframe" >
                            <a href="https://www.youtube.com/embed/Df08fyCTW9A" target="ifr-video">On Nutrition</a>
                            <a href="https://www.youtube.com/embed/WRW59gnpNhE" target="ifr-video">Pro-Nutrition</a>
                            <a href="https://www.youtube.com/embed/KydgCB8HG8A?si=J-Pu_P5pKgfvAMgy" target="ifr-video">Gym Beam</a>
                        </div>
                    </div>

                    <figure>
                        <picture class = "imagine">
                            <source srcset="./resurse/imagini/IMG1.jpg" media="(max-width:700px)"/>
                            <source srcset="./resurse/imagini/IMG2.jpg" media="(max-width:1200px)"/>
                            <img  src ="./resurse/imagini/IMG3.jpg" alt = "text" title="Aroma Ciocolata"/>
                        </picture>
                        <figcaption>Proteine</figcaption>
                    </figure> 
                </section>

                <section id = "calendar-evenimente">
                    
                    <p>Proin leo nunc, feugiat ut nibh ut, tincidunt molestie purus. Ut interdum ante eget augue iaculis, sit amet faucibus tortor gravida. Proin lobortis ex ac turpis feugiat, vel interdum arcu pretium. Maecenas dapibus lobortis placerat. Duis vel velit luctus, pretium massa sit amet, euismod turpis. In sollicitudin arcu massa, id semper massa interdum sit amet. Nulla vulputate sed nibh sed efficitur. Proin vel lectus ligula. Pellentesque tempor nibh sed nunc dapibus euismod eu sit amet lectus. Maecenas lectus nisl, laoreet ut tempor non, viverra ut quam. Proin a urna quis enim commodo varius.</p>
                </section>
                
                <!----->
                <div class="scroll-container">
                    <table id = "tabel">
                            <thead>
                                <tr>
                                    <th>Perioada</th>
                                    <th>Zi</th>
                                    <th>Interval Orar</th>
                                    <th>Adresă</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th rowspan="5">Zile lucratoare</th>
                                    <th >Luni</th>
                                    <th>10:00-18:00</th>
                                    <th rowspan="7">Strada Mihai Viteazu,<br> nr 10,<br> Bucuresti,<br> sector 5,<br> România</th>
                                </tr>
                                <tr>
                                    <th >Marti</th>
                                    <th>10:00-18:00</th>
                                </tr>
                                <tr>
                                    <th >Miercuri</th>
                                    <th>10:00-18:00</th>
                                </tr>
                                <tr>
                                    <th >Joi</th>
                                    <th>10:00-18:00</th>
                                </tr>
                                <tr>
                                    <th >Vineri</th>
                                    <th>10:00-18:00</th>
                                </tr>
                                <tr>
                                    <th rowspan="2">Weekend</th>
                                    <th >Sambata</th>
                                    <th>10:00-12:00</th>
                                </tr>
                                <tr>
                                    <th>Duminică</th>
                                    <th>Închis</th>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="4">Închis cu ocazia sărbătorilor legale</th>
                                </tr>
                            </tfoot>
                    </table>
                </div>
                <section id ="anunturi">
                    <h2>Anunturi:</h2>
                    <section>
                        <h3>Magazinul nostru din <abbr title="Drumul Taberei">zona A</abbr> se inchide Duminică la ora 12:00 </h3>
                    </section>
                </section>

                <section id = "produse">
                    <p>Proin leo nunc, feugiat ut nibh ut, tincidunt molestie purus. Ut interdum ante eget augue iaculis, sit amet faucibus tortor gravida. Proin lobortis ex ac turpis feugiat, vel interdum arcu pretium. Maecenas dapibus lobortis placerat. Duis vel velit luctus, pretium massa sit amet, euismod turpis. In sollicitudin arcu massa, id semper massa interdum sit amet. Nulla vulputate sed nibh sed efficitur. Proin vel lectus ligula. Pellentesque tempor nibh sed nunc dapibus euismod eu sit amet lectus. Maecenas lectus nisl, laoreet ut tempor non, viverra ut quam. Proin a urna quis enim commodo varius.</p>
                </section>
                <section id = "date-site-server">
                    <p>Proin leo nunc, feugiat ut nibh ut, tincidunt molestie purus. Ut interdum ante eget augue iaculis, sit amet faucibus tortor gravida. Proin lobortis ex ac turpis feugiat, vel interdum arcu pretium. Maecenas dapibus lobortis placerat. Duis vel velit luctus, pretium massa sit amet, euismod turpis. In sollicitudin arcu massa, id semper massa interdum sit amet. Nulla vulputate sed nibh sed efficitur. Proin vel lectus ligula. Pellentesque tempor nibh sed nunc dapibus euismod eu sit amet lectus. Maecenas lectus nisl, laoreet ut tempor non, viverra ut quam. Proin a urna quis enim commodo varius.</p>
                </section>

                <section id = "utilizatori-online">
                    <p>Proin leo nunc, feugiat ut nibh ut, tincidunt molestie purus. Ut interdum ante eget augue iaculis, sit amet faucibus tortor gravida. Proin lobortis ex ac turpis feugiat, vel interdum arcu pretium. Maecenas dapibus lobortis placerat. Duis vel velit luctus, pretium massa sit amet, euismod turpis. In sollicitudin arcu massa, id semper massa interdum sit amet. Nulla vulputate sed nibh sed efficitur. Proin vel lectus ligula. Pellentesque tempor nibh sed nunc dapibus euismod eu sit amet lectus. Maecenas lectus nisl, laoreet ut tempor non, viverra ut quam. Proin a urna quis enim commodo varius.</p>
                </section>
                <div id = "date-utilizatori-statistici">
                    <p>Proin leo nunc, feugiat ut nibh ut, tincidunt molestie purus. Ut interdum ante eget augue iaculis, sit amet faucibus tortor gravida. Proin lobortis ex ac turpis feugiat, vel interdum arcu pretium. Maecenas dapibus lobortis placerat. Duis vel velit luctus, pretium massa sit amet, euismod turpis. In sollicitudin arcu massa, id semper massa interdum sit amet. Nulla vulputate sed nibh sed efficitur. Proin vel lectus ligula. Pellentesque tempor nibh sed nunc dapibus euismod eu sit amet lectus. Maecenas lectus nisl, laoreet ut tempor non, viverra ut quam. Proin a urna quis enim commodo varius.</p>
                </div>
                <!--
                <section id = "intrebari">
                    <h2>Întrebări frecvente:</h2>
                    <details><summary>Care este comanda minimă pentru a primii transport gratuit?</summary> <p>Da!</p></details>
                </section>--->
               
         </div> 
         <p id="absolut" >Acesta este un proiect scolar</p>    
        </main>
        <script type="text/javascript" src=/resurse/js/cookieProdus.js></script>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>